[submodule "cfssl"]
	path = cfssl
	url = git@github.com:pvarki/docker-rasenmaeher-cfssl.git
[submodule "keycloak2"]
	path = keycloak
	url = git@github.com:pvarki/docker-keycloak.git
[submodule "fpintegration"]
	path = fpintegration
	url = git@github.com:pvarki/python-rasenmaeher-rmfpapi.git
[submodule "kw_product_init"]
	path = kw_product_init
	url = git@github.com:pvarki/golang-kraftwerk-init-helper-cli.git
[submodule "miniwerk"]
	path = miniwerk
	url = git@github.com:pvarki/python-rasenmaeher-miniwerk.git
	branch = matrix-dev/main
[submodule "takserver"]
	path = takserver
	url = git@github.com:pvarki/docker-atak-server.git
[submodule "battlelog"]
	path = battlelog
	url = git@github.com:pvarki/typescript-liveloki-app.git
[submodule "mtxauthz"]
	path = mtxauthz
	url = git@github.com:pvarki/python-mediamtx-rmmtxauthz.git
[submodule "api"]
	path = api
	url = git@github.com:pvarki/python-rasenmaeher-api.git
	branch = matrix-dev/main
[submodule "takintegration"]
	path = takintegration
	url = git@github.com:pvarki/python-tak-rmapi.git
[submodule "uiv2"]
	path = uiv2
	url = git@github.com:pvarki/react-rasenmaeher-ui-v2.git
[submodule "matrixrmapi"]
	path = matrixrmapi
	url = git@github.com:pvarki/python-matrix-rmapi.git
[submodule "kc_client_init"]
	path = kc_client_init
	url = git@github.com:pvarki/golang-keycloak-client-init-helper-cli.git
[submodule "synapse"]
	path = synapse
	url = git@github.com:pvarki/docker-synapse-server.git
[submodule "airguard-api"]
	path = airguard-api
	url = https://github.com/c5bravo/atak-airguardian-api
[submodule "airguardpractice"]
	path = airguardpractice
	url = https://github.com/c5bravo/atak-airguardian-practice-tool.git
