services:
  airgproxy:
    build:
      context: ./airguard-api
    environment:
      API_HOST: "0.0.0.0"
      OPENSKY_CLIENT_ID: ${AIRGUARD_OPENSKY_CLIENT_ID:-}
      OPENSKY_CLIENT_SECRET: ${AIRGUARD_OPENSKY_CLIENT_SECRET:-}
      OPENSKY_API_URL: ${AIRGUARD_OPENSKY_API_URL:-}
      OPENSKY_TOKEN_URL: ${AIRGUARD_OPENSKY_TOKEN_URL:-}
      DATAMIRROR_TAK_HOST: ${AIRGUARD_DATAMIRROR_TAK_HOST:-takconfig}
      DATAMIRROR_TAK_PORT: ${AIRGUARD_DATAMIRROR_TAK_PORT:-8090}
      PRACTOOL_HOST: ${AIRGUARD_PRACTOOL_HOST:-airguardtool}
      PRACTOOL_PORT: ${AIRGUARD_PRACTOOL_PORT:-3000}
    
    networks:
      - taknet
      - productnet
      - airguardnet
    healthcheck:
      test: "echo 'fixme'" # FIXME: proxy needs healthcheck endpoint/url
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped

  airguardtool:
    build:
      context: ./airguardpractice
      dockerfile: Dockerfile
    container_name: airguardtool
    volumes:
      - airguard_data:/app/data
    environment:
      DB_FILE_NAME: "file:/app/data/airguard.db"
    networks:
      - productnet
      - airguardnet
    healthcheck:
      test: 'curl -s  || exit 1' # FIXME: User proper health check. Healtcheck url to tool?
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s
    restart: unless-stopped

volumes:
  airguard_data:

networks:
  taknet:
  productnet:
  airguardnet:  # airguard proxy to airguard practice tool
