services:

  airguardtool:
    build:
      context: ./airguardpractice
      dockerfile: Dockerfile
    container_name: airguardtool
    volumes:
      - airguard_data:/app/data
    # ports:
    #   - 3000:3000
    environment:
      DB_FILE_NAME: "file:/app/data/airguard.db"
    networks:
      - productnet
    restart: unless-stopped

volumes:
  airguard_data:
