services:

  airguardtool:
    build:
      context: ./airguardtool
      dockerfile: Dockerfile
    container_name: airguardtool
    volumes:
      - airguard_data:/data/airguard
    #environment:
    #  TEST: "ASD"
    networks:
      - taknet
    restart: unless-stopped

volumes:
  airguard_data:
